$size: 80vw;
$max-size: 600px;
$shadow-height: calc(#{$size}*.07);

main {
  width: $size;
  max-width: $max-size;
  margin: 0 auto;
}

.ball {
  width: $size;
  height: $size;
  max-height: $max-size;
  max-width: $max-size;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  &:hover {
    cursor: pointer;
  }
  &:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
    -webkit-filter: blur(5px);
    z-index: 2;
  }
}
.shadow {
  margin-top: -15px;
  width: $size;
  height: $shadow-height;
  max-width: $max-size;
  max-height: 20px;
  border-radius: 50%;
  -webkit-filter: blur(10px);
  background: black;
  z-index: -100;
}

#ball1 {
  background: url("../assets/img/02.jpg") no-repeat;
  background-size: cover;
}

#ball2 {
  background: url("../assets/img/01.jpg") no-repeat;
  background-size: cover;
}

#ball3 {
  background: url("../assets/img/kurahk_flying2.jpg") no-repeat;
  background-size: cover;
}

#ball2, #ball3 {
  display: none;
}
